<?xml version="1.0"?>
<config>
    <modules>
        <SnowCommerce_FedexSP>
            <version>0.1.0</version>
        </SnowCommerce_FedexSP>
    </modules>
    <frontend>
        <routers>
            <routers>
                <sc_fedexsp>
                    <use>standard</use>
                    <args>
                        <module>SnowCommerce_FedexSP</module>
                        <frontName>fedexsp</frontName>
                    </args>
                </sc_fedexsp>
            </routers>
        </routers>
    </frontend>
    <global>
        <models>
            <sc_fedexsp>
                <class>SnowCommerce_FedexSP_Model</class>
            </sc_fedexsp>
            <sc_fedexsp_mysql4>
                <class>SnowCommerce_FedexSP_Model_Mysql4</class>
                <entities>
                    <ship>
                        <table>fedexsp</table>
                    </ship>
                </entities>
            </sc_fedexsp_mysql4>
        </models>
        <resources>
            <sc_fedexsp_setup>
                <setup>
                    <module>SnowCommerce_FedexSP</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sc_fedexsp_setup>
            <sc_fedexsp_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sc_fedexsp_write>
            <sc_fedexsp_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sc_fedexsp_read>
        </resources>
        <blocks>
            <sc_fedexsp>
                <class>SnowCommerce_FedexSP_Block</class>
            </sc_fedexsp>
        </blocks>
        <helpers>
            <sc_fedexsp>
                <class>SnowCommerce_FedexSP_Helper</class>
            </sc_fedexsp>
        </helpers>
    </global>
    <default>
        <carriers>
            <sc_fedexsp>
                <active>1</active>
                <model>SnowCommerce_FedexSP_Model_Carrier_FedexSP</model>
                <title>Fedex SP</title>
                <name>Fedex SP</name>
                <price>5.00</price>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
            </sc_fedexsp>
        </carriers>
    </default>
</config>